<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAtPken82mAWMmwoV2tTeiuI7_6GFVZrfI</string>
	<key>GCM_SENDER_ID</key>
	<string>1036398673992</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Ben.twitter-clone</string>
	<key>PROJECT_ID</key>
	<string>twitterclone-5d60b</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterclone-5d60b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1036398673992:ios:e125eeaf5848540caa987d</string>
</dict>
</plist>